{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="authentication-wrapper authentication-basic container-p-y">
    <div class="authentication-inner py-6 mx-4">
        <div class="card p-7">
            <div class="card-body">
                <h4 class="mb-1">Welcome! 👋🏻</h4>
                <p class="mb-5">Please sign in to your account</p>

                <form method="POST" action="{% url 'Admin_login' %}">
                    {% csrf_token %}
                    <div class="mb-5">
                        <input type="text" class="form-control" name="username" placeholder="Username" required>
                    </div>
                    <div class="mb-5">
                        <input type="password" class="form-control" name="password" placeholder="Password" required>
                    </div>
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                </form>

                <p class="text-center mt-4">
                     
                    <a href="{% url 'Admin_register' %}">Register</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
